<div class="container">
<div class="row ">
    <h1 class="head text-center" >FAQ - Frequently Asked Question</h1>
<div class="col-xs-10 heading">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header " id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                1. What makes your products different?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Well, you might have read once or twice that we are a scratch bakery,</strong> and that fact alone sets apart from most other bakeries. This improves the taste and quality of the products we make. Our desserts are not made in factories like those you might purchase from some grocery store bakeries. We never freeze our cakes, though that too is a common practice. Also, we are known for a 100+ year old dense, moist pound cake recipe. Pound cakes are expensive to make, but the unmatched taste is worth every penny. We do have a lighter batter available; however, please specify that you would like a cake or made with our lighter batter when you place your order. </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              2.  I just want a single serving. Can I come in and purchase a small dessert?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Yes! Come into our dessert café</strong>where we offer an array of single serving items all day! We are not a home-based bakery. We are accessible during business hours, and you do not need to make an appointment in order to enjoy our products. You are welcome to visit our café anytime during our business hours. </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              3.  Are you a full service bakery, or do you only make cakes?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong> We are a full-service bakery. We do not make breads, but we make most other bakery products. </strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            4.    How do I place an order? 
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong> You may place an order through our website; </strong>  by calling us at (919) 856-0604; or by visiting our bakery. Photographs may be e-mailed to us at info@edibleartnc.com. </div>
            </div>
          </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                5. Where can I find your pricing?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong> Please call or e-mail us for pricing. </strong>  Pricing varies depending on the design elements, size and flavor, so it would not be practical to list pricing for every cake we are capable of doing.  </div>
          </div>
      </div>
    </div></div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            6. Am I limited to the cake designs on your website?
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>No! Those photographs are merely examples of work </strong>  we've done in the past. Please feel free to email over any inspirational designs you may find through other sites. </div>
  </div>
</div>


<div class="accordion-item">
    <h2 class="accordion-header" id="headingEight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        7. Can you match my color(s)?
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>We do not guarantee exact color matches, </strong>  but we work hard to create a color that closely resembles the colors you provide. Please understand that colors often look somewhat different when printed from an e-mailed photograph.</div>
</div>
</div>


<div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
      
8.What if I don't like what I purchased?
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>We rarely hear complaints about our products,  </strong>   which is why we've stuck around for 39 years. If you have concerns about a purchase, please kindly return the product to us on the next business day following your purchase. We do not offer refunds on returned products but may work with you on a store credit or product exchange.  </div>
</div>
</div>


<div class="accordion-item">
    <h2 class="accordion-header" id="headingNine">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
      9.  I've heard that I need to place my order weeks in advance in order for you to help me?
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>We recommend ordering at least a week in advance for simpler designs</strong> and at least two weeks in advance for more complex designs. Please feel free to contact us. If we are at maximum capacity, we may be able to offer you a dessert-style cake from our café.</div>
</div>

</div>



    