<div class="container-fluid first">
 <div class="row first-ab">
     <h1>About Us</h1>
<div class="col-xs-12 col-md-6 about-img">
    <img src="assets/photo/photo-8.jpeg"  style="width: 350px; height: 400px;">
</div>
<div class="col-xs-12 col-md-6 about-p">
<h3>QUICK BREAD BAKERY IS DEDICATED TO PRODUCING HANDMADE BREADS USING TRADITIONAL BAKING TECHNIQUES.</h3>
<P>Mauris ut augue ac nisi fermentum dictum et sit amet sapien. Vivamus neque metus, ultrices viverra suscipit id, placerat a odio. Etiam est augue, malesuada a leo in, ellentesque lobortis augue eu purus fermentum efficitur. Phasellus tristique odio sem, sed condimentum hendrerit dignissim. Morbi vitae pretium leo. Etiam rutrum, ex eget congue pulvinar, tortor neque dictum justo, nec dignissim leo velit at neque.
<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pellentesque vel orci sit amet fringilla. Phasellus quis sapien a Mauris ornare mattis nisi et laoreet. Nullam felis purus, mollis eu justo ac, tristique imperdiet ligula. Donec viverra ligula quis consequat leo vel cursus. Aliquam aliquam ipsum mauris, eget pulvinar arcu fringilla non.
    </P>
</div>
 </div>
</div>
<div class="container-fliud about-bg ">
<div class="row about-bak">
    <h2>Our Bakers</h2>
<div class="col-xs-12 col-md-3 about-team" >
<img src="assets/photo/photo-9.jpeg"  style="height: 450px; width: 370px;"/>
<h1>EVA ADAMSON</h1>
<p>make delicious bread</p>

</div>
<div class="col-xs-12 col-md-3 about-team" >
    <img src="assets/photo/photo-10.jpeg"  style="height: 450px; width: 370px;"/>
    <h1>JACK DANSON</h1>
    <p>Specialization for making the Cake</p>
    </div>
<div class="col-xs-12 col-md-3 about-team" >
 <img src="assets/photo/photo-11.jpeg"  style="height: 450px; width: 370px;"/>
 <h1>TOM KOOK</h1>
 <p>Pateez baker with magical furnace</p>
        </div>
<div class="col-xs-12 col-md-3 about-team" >
 <img src="assets/photo/photo-12.jpeg"  style="height: 450px; width: 370px;"/>
 <h1>JJ TONSON</h1>
 <p>Pastree  baker special for Occation</p>
     </div>  
</div>
</div>

<div class="container-fluid">
<div class="row job p-5 ">
    <h1>Job Available</h1>
    <div class="col-xs-12 col-md-4 ">
 <img class="img-fluid" src='assets/photo/photo-13.jpeg'style="height: 350px; width: 470px;"  />
 <h3>SALE MANAGER</h3>
 <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris.<br> Phasellus por. Fusce suscipit varius mi.
      Cum sociis natoque penatibus 
     e dis <br>parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada</p>
    </div>
    <div class="col-xs-12 col-md-4 ">
        <img class="img-fluid" src='assets/photo/photo-14.jpg'style="height: 350px; width: 470px;"  />
        <h3>CATERING COORDINATOR</h3>
        <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris.<br> Phasellus por. Fusce suscipit varius mi.
             Cum sociis natoque penatibus 
            e dis<br> parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada</p>
    </div>
    <div class="col-xs-12 col-md-4 ">
        <img class="img-fluid" src='assets/photo/photo-15.jpeg'style="height: 350px; width: 470px;"  />
        <h3>OVERNIGHT AND DAY BAKER</h3>
        <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus por. Fusce suscipit varius mi.
             Cum sociis natoque penatibus 
            e dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada</p>
    </div>
</div>
</div>