<div class="container-fluid home-m">
<div class="row">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/photo/photo-1.jpeg" class="d-block w-100" alt="hello" style="height: 500px;">
            <div class="carousel-caption d-none d-md-block letter">
                <h5>we gives a good health</h5>
                <p>All sorrows are less with bread...</p>
              </div>
          </div>
          <div class="carousel-item">
            <img src="assets/photo/photo-2.jpeg" class="d-block w-100"  style="height: 500px;">
            <div class="carousel-caption d-none d-md-block letter">
                <h5>Always follow our tradition</h5>
                <p>Respect the bread you eat...</p>
              </div>
           
          </div>
          <div class="carousel-item">
            <img src="assets/photo/photo-3.jpeg" class="d-block w-100" alt="..." style="height: 500px;">
            <div class="carousel-caption d-none d-md-block letter">
                <h5>Start your day with healthy bread</h5>
                <p>We keep traditions of baking....</p>
              </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

    <div class="row home-f">
        <div class="col-xs-12 col-md-3 price">
        <img  src="assets/photo/photo-4.jpg"  style="height: 300px; width: 350px;"/>
        <p class="price"><span>{{3.19|currency:"USD"}}</span></p>
        <h3>BRAGEL</h3>
        <p>Straight from our oven</p>
        </div>
        <div class="col-xs-12 col-md-3 price">
            <img  src="assets/photo/photo-5.jpeg"  style="height: 300px; width: 350px;"/>
            <p class="price"><span>{{3.19|currency:"USD"}}</span></p>
            <h3>CHOCOLATE CROISSANT</h3>
            <p>Straight from our oven</p>
            </div>
            <div class="col-xs-12 col-md-3 price">
                <img  src="assets/photo/photo-6.jpeg"  style="height: 300px; width: 350px;"/>
                <p class="price"><span>{{3.19|currency:"USD"}}</span></p>
                <h3>DINNER ROLL</h3>
                <p>Straight from our oven</p>
                </div>
                <div class="col-xs-12 col-md-3 price">
                    <img  src="assets/photo/photo-7.jpeg"  style="height: 300px; width: 350px;"/>
                    <p class="price"><span>{{3.19|currency:"USD"}}</span></p>
                    <h3>RYE KAISER ROLL</h3>
                    <p>Straight from our oven</p>
                    </div>
      </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-7 home-se">
         <h1>Welcome to our bakery!</h1>
         <p>It is our mission to offer you bread with love. Bread, in its pure original formula, making it available for everyone’s enjoyment. 
             From antiquity, bread has been known as the epitome of life and human society.
              It’s history can be traced back for thousands of years to the ancient Egyptians, Romans and Greek</p>
        </div>
        <div class="col-xs-12 col-md-5 home-sea">  <P> <button routerLink="/about">About Us</button> <button  routerLink="/about">Click here</button></P></div>
       </div>
</div>
<div class="container-fluid background">
<div class="row">
<div class="col-xs-12 col-md-4" style="width: 500px;">
   <p> <span>1</span></p>
  <h2>USING THE NATURAL INGREDIENTS</h2>
  <p>Gustavo Bread Bakery products are hand-made with only the finest ingredients and natural starters. No added preservatives will 
      be found in any of the things we bake, and we strive to source our ingredients locally using farmers and growers who practice the purest growing initiatives. We allow our loaves to take their time, 
      and we practise old world European traditions and techniques to make the very best breads.</p>
</div>
<div class="col-xs-12 col-md-4" style="width: 500px;">
    <p><span>2</span></p>
<h2>CARING FOR YOUR BREAD</h2>
<p>We recommend that you eat your bread at its peak of freshness. But, as the days go on, you can be creative with what’s left: toast, 
    croutons, bread crumbs, sweet or savory bread pudding...be inventive! We suggest storing Gustavo Bread Bakery at room temperature in a paper, wax or cloth bread bag. To refresh and serve, place your loaf in a 325˚ oven
     for about 10-12 minutes for a fresh from the oven experience.</p>
</div>
<div class="col-xs-12 col-md4 " style="width: 500px;">
    <P><span>3</span></P>
<h2>FREEZING YOUR BREAD</h2>
<p>If you buy loaves to freeze, it’s best to do it while the bread is still fresh. For the best result, and to prevent freezer burn,
     tightly wrap each loaf in plastic wrap, and seal in a good quality freezer bag and plan to consume your bread within
      a month. You can also freeze pieces of fresh bread that you don’t finish right away, to come back to them later in the week.
     To defrost your frozen bread, remove it from the freezer.</p>
</div>
</div>
</div>
