<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <img src='assets/photo/logo.jpeg' style="height:60px;width:100px;"/>&nbsp;
    <a class="navbar-brand mb-0 h1" routerLink="/">OvenBakery!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active"  routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/api">Api</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/news">News&Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/blogs">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/faq">Faq</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/feedback">Feedback</a>
        </li>&nbsp;
        <li class="nav-item">
          <a class="nav-link active p-0" routerLink="/cart">   <i style="font-size: 40px;" class="bi bi-cart4"></i>
            <div style="font-size: 20px;" class="badge bg-danger">{{totalItem}}</div></a>
        </li>
       
      </ul>
      <samp class="navbar-text me-5 h3 ">
        {{dated|date:'d/M/y'}} &nbsp; {{dated|date:'shortTime'}}
      </samp>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>



<div class="container-fluid ">
  <footer>
    <div class="row p-5 foot">
<div class="col-xs-12 col-md-3 mx-auto">
  <h3><img src="assets/photo/logo.jpeg" style="height:60px;width:100px;">  OvenBakery!</h3>
 <h1>Join the OvenBakery<br> & Get {{100|currency:'INR'}} off </h1>
 <p><i class="bi bi-facebook"></i> <i class="bi bi-whatsapp"></i> <i class="bi bi-twitter"></i> <i class="bi bi-instagram"></i></p>
</div>
<div class="col-xs-12 col-md-3">
<h3>
 Quick Links</h3>
 <p> <a routerLink="/products" >Products</a> </p>
 <p> <a routerLink="/blogs" >Blogs</a> </p>
 <p> <a routerLink="/faq" >Faq</a> </p>
 <p> <a routerLink="/contact" >Contact</a> </p>
</div>

<div class="col-xs-12 col-md-3">
<h3>Address</h3>
<p>H.No.- 153</p>
<p>Garg Colony</p>
<p>Ballabgarh- 121004</p>
<p>Faridabad,Haryana</p>
</div>

<div class="col-xs-12 col-md-3" >
<h3>Connect With Us</h3>
<form >
  <div class="form-group col-md-8">
    <label class="col-form-label">Email</label>
    <input type="text" placeholder="Enter Your Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required #email="ngModel" ngModel
      class="form-control" name="email">
  </div>

  <div *ngIf="email.touched && !email.valid">
    <div *ngIf="email.errors?.['required']" class="text-danger">
    Email is required 
    </div>
    <div *ngIf="email.errors?.['pattern']" class="text-danger">
      put a valid email
    </div>
  </div>
 <button class="emailbut" type="submit"><i  class="bi bi-arrow-right "></i></button>
</form>
 </div>
 
<hr >
<p class="text-center ">aashish@copyrightreserve.com</p>
    </div>

  </footer>
</div>