
.bc {
    animation: slide-up 2000ms;
   
  }   

  @keyframes slide-up {
    from {
      transform: translatey(-100%);
    }
    to {
      transform: translatey(0%);
    }
  }




.ab {
    animation: slide-in 2000ms;
   
  }   

  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

 
  .first1 {
    animation: slide-in 2000ms;
  }
.second{
    background-color: #e5e4e2;
}
  .second h1{
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: brown;
     margin-top: 50px;
  }

  .first{
   padding: 20px;
   display: flex;
    align-items: center;
    justify-content: center;
  }
  .products-img{
    overflow: hidden; 
    height: 450px;
    width: 370px;
    background-color: black;
  }
.products-img img{
    transform: scale(1) ;
    transition: all 1s ease-in-out; 
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
}
  .products-img:hover img{
       transform: scale(1.5); 
       opacity: .4;
  }
  .last{
      background-color: orange;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: white;
      font-size: 15px;
     
      padding-top: 50px;
  }
  .last p{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      
  }
.last i{
    color: brown;
    font-size: 70px;
    font-weight: bolder;
}

  