<div class="container-fluid">
<div class="second  row">
    <h1 appCustom >  <marquee direction='left' behavior='alternate' scrollamount="25">Hurry up! offers are limited</marquee></h1>
<div class=" col-xs-12 col-md-4 first ab" >
    <div class="products-img">
        <img src='assets/photo/photo-16.jpeg'  />
    </div>

</div>
<div class=" col-xs-12 col-md-4 first bc" >
    <div class="products-img">
        <img src='assets/photo/photo-17.jpeg'  />
    </div>

</div>
<div class=" col-xs-12 col-md-4 first ab" >
    <div class="products-img">
        <img src='assets/photo/photo-18.jpeg'  />
    </div>

</div>
</div>
<div class="second  row" >
    
<div class=" col-xs-12 col-md-4 first ab" >
    <div class="products-img">
        <img src='assets/photo/photo-19.jpeg'  />
    </div>

</div>
<div class=" col-xs-12 col-md-4 first bc" >
    <div class="products-img">
        <img src='assets/photo/photo-20.jpeg'  />
    </div>

</div>
<div class=" col-xs-12 col-md-4 first ab" >
    <div class="products-img">
        <img src='assets/photo/photo-21.jpeg'  />
    </div>

</div>
</div>

<div class="row ">
<div class="col-xs-12 col-md-4 last">
   <p><i class="bi bi-eye-fill"></i></p>
   <div>
    <h3>BROWSE AND DISCOVER</h3>  
    <p>Browse our great line of bread and discover<br> a new taste.</p> 
   </div>
 
</div>
<div class="col-xs-12 col-md-4 last">
    <p><i class="bi bi-calendar3"></i></p>
    <div>
        <h3>SCHEDULE YOUR ORDER</h3>  
        <p>Place your order for a date you need <br>in the future.</p> 
       </div>
     
</div>
<div class="col-xs-12 col-md-4 last">
    <p><i class="bi bi-shop"></i></p>
    <div>
        <h3>STORAGE AND CARE</h3>  
        <p>We store bread at room temperature<br> in a dark, dry place.</p> 
       </div>
     
</div>
</div>

<div class="row ">
    <div class="col-xs-12 col-md-4 last">
        <p><i class="bi bi-truck"></i></p>
        <div>
            <h3>PACKAGING AND DELIVERY</h3>  
            <p>reliable packing and worldwide <br>shipping.</p> 
           </div>
         
    </div>
    <div class="col-xs-12 col-md-4 last">
        <p><i class="bi bi-cup-fill"></i></p>
        <div>
            <h3>ENJOY AN AWESOME BREAD</h3>  
            <p>enjoy a cup of coffee with our<br> amazing breads.</p> 
           </div>
         
    </div>
    <div class="col-xs-12 col-md-4 last ">
        <p><i class="bi bi-people-fill"></i></p>
        <div>
            <h3>SHIPPING OPTIONS</h3>  
            <p>The following shipping options are avai <br>depending upon the delivery.</p> 
           </div>
         
    </div>
    </div>
    
</div>

<div class="container-fluid">
    <div class="row ">
        <ng-container *ngFor="let item of filterCategory ">
            <div class="card col-md-4 col-xs-12 first">
                <img class="products-img" src="{{item.image}}" alt="">
                <h5 style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:50ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow:hidden;text-overflow:ellipsis;max-width:50ch;">{{item.description}}</p>
                <p><strong>Price:</strong> ${{item.price}}</p>
                <button class="btn btn-primary" (click)=addtocart(item) ng-click="count = count + 1" ng-init="count=0">Add to cart</button>
               
            </div>
        </ng-container>

    </div>
</div>