<div class="container-fluid ">
<div class="row back">
<div class="col-xs-12">
 <p>All sorrows are less with bread. Respect
    the bread you eat</p>
</div>
</div>


</div>

<div class="container-fuid">
    <div class="row news1">
        <h1 align="center">Recent news</h1>
    <div class="col-xs-12 col-md-3 news ">
        <img src='assets/photo/photo-23.jpeg' style="width: 350px; height: 350px;" />
    </div>
    <div class="col-xs-12 col-md-3 news ">
        <p>{{todaydate|date:'d/M/y'}} </p><br>
     <h3>RECIPES CHANGE WITH <br>THE SEASON</h3>
     <h6>Phasellus tristique odio sem, sed sagittis neque dictum justo, nec dignissim leo velit at dui Aenean sodales sapien id.</h6>
<br>
     <p>{{50|currency:'INR'}} </p>
    </div>

    
    <div class="col-xs-12 col-md-3 news">
        <img src='assets/photo/photo-22.jpeg'  style="width: 350px; height: 350px;" />
    </div>
        <div class="col-xs-12 col-md-3 news ">
            <p>{{todaydate|date:'d/M/y'}} </p><br>
         <h3>AUTUMN EXHIBITION OF<br> BREAD</h3>
         <h6>Duis efficitur lectus in eros ultricies tempus. sapien ullamcorper feugiat. Integer lacus turpis, tincidunt sit amet conse.</h6>
         <br>
         <p>{{50|currency:'INR'}} </p>
        </div> 
    </div>

    <div class="row news1">
        
    <div class="col-xs-12 col-md-3 news ">
        <img src='assets/photo/photo-24.jpeg' style="width: 350px; height: 350px;" />
    </div>
    <div class="col-xs-12 col-md-3 news ">
        <p>{{todaydate|date:'d/M/y'}} </p><br>
     <h3>OUR BAKERY COMPLETED 25 Of  YEARS</h3>
     <h6>Sapien ullamcorper feugiat. Integer lacus euismod ac tellus. Pellentesque ut convallis purus. Pellentesque cong.</h6>
     <br>
     <p>{{50|currency:'INR'}} </p>
    </div>

    
    <div class="col-xs-12 col-md-3 news">
        <img src='assets/photo/photo-25.jpeg'  style="width: 350px; height: 350px;" />
    </div>
        <div class="col-xs-12 col-md-3 news ">
            <p>{{todaydate|date:'d/M/y'}} </p><br>
         <h3>MASTER CLASS ON BAKING</h3>
         <h6>Nulla commodo lorem arcu, ut egestas euismod ac tellus. Pellentesque ut convallis purus. Pellentesque congue tem.</h6>
         <br>
         <p>{{50|currency:'INR'}} </p>
        </div> 
    </div>
    <div class="row news1">
        
        <div class="col-xs-12 col-md-3 news ">
            <img src='assets/photo/photo-35.jpeg' style="width: 350px; height: 350px;" />
        </div>
        <div class="col-xs-12 col-md-3 news ">
            <p>{{todaydate|date:'d/M/y'}} </p><br>
         <h3>BAKE WITH THE TRADITIONAL FURNACE</h3>
         <h6>We always bake with the traditional furnace. It Gives taste and Love and provide  a special texture no preservative include</h6>
         <br>
         <p>{{50|currency:'INR'}} </p>
        </div>
    
        
        <div class="col-xs-12 col-md-3 news">
            <img src='assets/photo/photo-36.jpeg'  style="width: 350px; height: 350px;" />
        </div>
            <div class="col-xs-12 col-md-3 news ">
                <p>{{todaydate|date:'d/M/y'}} </p><br>
             <h3>CONNCET THE PEOPLE WITH LOVE</h3>
             <h6>Our Bakwery connect the people with love and make a special bonding .Love require  a  special bonding and provide a health and taste</h6>
             <br>
             <p>{{50|currency:'INR'}} </p>
            </div> 
        </div>
</div>
