<div class="container-fluid">
<div class="row blogs">
    <h1>Our Blogs</h1>
  <div class="col-xs-12 col-md-6 blogs1">
<img class="img-fluid photo" src="assets/photo/photo-26.jpeg" style="width: 900px; height: 600px;" />
<p>October 6, 2015  by Walter Myers</p>
<h3>MALTED BARLEY BREAD</h3>
<h5>The first bakery I ever worked in was called The Bread Garden in Berkeley, 
    Ca. It was way ahead of its time, predating legendary bakeries like Acme Bread 
    in Berkeley, Ca and Bread Alone in Boiceville, NY. These were the bakeries 
    that started making Artisanal european style breads before anyone in the US 
    knew what they were. To Americans, bread was white, squishy, pre-sliced mediocrity found in the bread..</h5>
  <button class="btn mt-3 p-3" routerLink="/feedback">feedback</button>
  </div>

  <div class=" col-xs-12  col-md-6 blogs1">
    <img class="img-fluid photo" src="assets/photo/photo-27.jpeg" style="width: 900px; height: 600px;" />
    <p>October 7, 2015  by Sam Kromstain</p>
    <h3>DAVE MILLER AND WHOLE KAMUT</h3>
    <h5>Yeah, it's been awhile hasn't it? Well, I'm ready to get back into the swing of things, and I have an interesting
         flour to showcase… But, first for the noobs, there will be a new bread produced Thursday afternoons. It'll
 be the same for the month, then will change the following month. This is meant to be fun, and slightly experimental, so it
  is possible that something just might not come out right and it will not be available...</h5>
  <button class="btn mt-3 p-3" routerLink="/feedback">feedback</button>
</div>

      <div class=" col-xs-12 col-md-6 blogs1">
        <img class="img-fluid photo" src="assets/photo/photo-28.jpeg" style="width: 900px; height: 600px;" />
        <p>October 7, 2015  by Bradley Groshs</p>
        <h3>MONTHLY BREAD IS BACK ON THURSDAY AFTERNOONS!</h3>
        <h5>I recently took a trip back to my home state of California to 
            visit some old friends and bakeries. Dave Miller is a bit of a legend in the small world 
            of bread in the US, and I knew that this journey should start at his bakery,
             Millers Bakehouse, outside of Chico, Ca. Dave's bakery is unique, 
            in that he's a one man show that supplies whole grain bread and pasta to the lucky few at the Saturday farmers market in Chico...</h5>
            <button class="btn mt-3 p-3" routerLink="/feedback">feedback</button>
          </div>

          <div class=" col-xs-12 col-md-6 blogs1">
            <img class="img-fluid photo" src="assets/photo/photo-29.jpeg" style="width: 900px; height: 600px;" />
            <p class="text-center">October 7, 2015  by Alan Smith</p>
            <h3>TODAY'S Cookie WAS SELLABLE...</h3>
            <h5  >This has been a humbling experience. There are about 1,000,006 variables in making a loaf
                 of bread that starts in the fields and ends in the bakery. Usually, flour is 100% usable and the rest lies in the skill of the baker. It turns out, I've had some funky flour to work with lately.
         I was starting to go crazy thinking I didn't know how to make bread anymore, and turned to Randy George 
         of Red Hen Baking in Middlesex...</h5>
         <button class="btn mt-3 p-3" routerLink="/feedback">feedback</button>    
        </div>
</div>

</div>
