.card h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.card {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
    
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orangered;
}
